# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{sh,bash}]
indent_style = space
indent_size = 2
# shfmt flags: -i 2 -ci (2-space indent, case indent)
# Run: shfmt -i 2 -ci -w <file>

[*.py]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
